<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.LoginHistoryMapper">
    <!--<resultMap id="BaseResultMap" tycom.suny.association.entitytypojo.po.LoginHistory">
        <id property="loginHistoryId" column="login_history_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginAddress" column="login_address" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result property="loginBrowser" column="login_browser" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginOsVersion" column="login_os_version" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginUserAgent" column="login_user_agent" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="loginStatus" column="login_status" jdbcType="BOOLEAN" javaType="java.lang.Boolean"/>
        &lt;!&ndash;<association property="historyAccountId" column="history_account_id"&ndash;&gt;
        &lt;!&ndash;javaTycom.suny.association.entitytypojo.po.Account" select="getAccount"/>&ndash;&gt;
    </resultMap>-->
    <insert id="insert" parameterType="com.suny.association.entity.po.LoginHistory">
        INSERT INTO login_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" loginHistoryId != null">login_history_id ,</if>
            <if test=" loginIp!= null">login_ip ,</if>
            <if test=" loginAddress!= null">login_address ,</if>
            <if test=" loginTime != null">login_time ,</if>
            <if test=" loginBrowser!= null">login_browser ,</if>
            <if test=" loginOsVersion!= null">login_os_version,</if>
            <if test=" loginUserAgent != null">login_user_agent ,</if>
            <if test=" loginStatus != null">login_status ,</if>
            <if test=" loginName != null">login_name</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test=" loginHistoryId != null">#{loginHistoryId} ,</if>
            <if test=" loginIp!= null">#{loginIp} ,</if>
            <if test=" loginAddress!= null">#{loginAddress} ,</if>
            <if test=" loginTime != null">#{loginTime} ,</if>
            <if test=" loginBrowser!= null">#{loginBrowser} ,</if>
            <if test=" loginOsVersion!= null">#{loginOsVersion},</if>
            <if test=" loginUserAgent != null">#{loginUserAgent} ,</if>
            <if test=" loginStatus != null">#{loginStatus},</if>
            <if test=" loginName != null">#{loginName}</if>
        </trim>
    </insert>


    <select id="selectByParam" parameterType="hashmap" resultType="com.suny.association.entity.po.LoginHistory">
        SELECT
            login_history_id, login_name, login_ip, login_address, login_time, login_browser, login_os_version, login_user_agent, login_status
        FROM login_history
            <where>
                1=1
                <if test="entity.loginHistoryId != null ">AND login_history_id =#{entity.loginHistoryId   } </if>
                <if test="entity.loginName != null ">AND login_name =#{entity.loginName   } </if>
                <if test="entity.loginIp != null ">AND login_ip =#{entity.loginIp   } </if>
                <if test="entity.loginAddress != null ">AND login_address LIKE "%" #{entity.loginAddress   } "%"</if>
                <if test="entity.loginBrowser != null ">AND login_browser LIKE "%" =#{entity.loginBrowser   } "%"</if>
                <if test="entity.loginOsVersion != null ">AND  LIKE "%" login_os_version =#{entity.loginOsVersion   } "%"</if>
                <if test="entity.loginUserAgent != null ">AND  LIKE "%" login_user_agent =#{entity.loginUserAgent   } "%"</if>
                <if test="entity.loginTime != null ">AND login_time > #{entity.loginTime   } </if>
            </where>
        ORDER BY login_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*)
        FROM login_history;
    </select>
    <select id="queryLoginLogByMemberId"  resultType="com.suny.association.entity.po.LoginHistory">

    </select>
    <select id="selectCountByParam" parameterType="com.suny.association.entity.po.LoginHistory" resultType="java.lang.Integer">
        SELECT COUNT(
        login_history_id)
        FROM login_history
        <where>
            1=1
            <if test="loginHistoryId != null ">AND login_history_id =#{loginHistoryId   } </if>
            <if test="loginName != null ">AND login_name =#{loginName   } </if>
            <if test="loginIp != null ">AND login_ip =#{loginIp   } </if>
            <if test="loginAddress != null ">AND login_address LIKE "%" #{loginAddress   } "%"</if>
            <if test="loginBrowser != null ">AND login_browser LIKE "%" =#{loginBrowser   } "%"</if>
            <if test="loginOsVersion != null ">AND  LIKE "%" login_os_version =#{loginOsVersion   } "%"</if>
            <if test="loginUserAgent != null ">AND  LIKE "%" login_user_agent =#{loginUserAgent   } "%"</if>
            <if test="loginTime != null ">AND login_time > #{loginTime   } </if>
        </where>
    </select>



</mapper>